WebApp/Service References/WorkerServiceReference/WorkerService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/InfoTecsTestApp.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/InfoTecsTestApp.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/WorkerService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ShiftDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ShiftDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ShiftId" type="ser:guid" />
      <xs:element minOccurs="0" name="ShiftWorkers" nillable="true" type="tns:ArrayOfWorkerDto" />
      <xs:element minOccurs="0" name="WorkerObject" nillable="true" type="tns:WorkerObjectDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShiftDto" nillable="true" type="tns:ShiftDto" />
  <xs:complexType name="ArrayOfWorkerDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WorkerDto" nillable="true" type="tns:WorkerDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWorkerDto" nillable="true" type="tns:ArrayOfWorkerDto" />
  <xs:complexType name="WorkerDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cost" type="xs:int" />
      <xs:element minOccurs="0" name="Specialty" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkerId" type="ser:guid" />
      <xs:element minOccurs="0" name="WorkerName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkerDto" nillable="true" type="tns:WorkerDto" />
  <xs:complexType name="WorkerObjectDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkerCount" type="xs:int" />
      <xs:element minOccurs="0" name="WorkerObjectId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkerObjectDto" nillable="true" type="tns:WorkerObjectDto" />
  <xs:complexType name="Worker">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cost" type="xs:int" />
      <xs:element minOccurs="0" name="Specialty" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkerId" type="ser:guid" />
      <xs:element minOccurs="0" name="WorkerName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Worker" nillable="true" type="tns:Worker" />
  <xs:complexType name="WorkerObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkerCount" type="xs:int" />
      <xs:element minOccurs="0" name="WorkerObjectId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkerObject" nillable="true" type="tns:WorkerObject" />
  <xs:complexType name="ArrayOfShiftDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShiftDto" nillable="true" type="tns:ShiftDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShiftDto" nillable="true" type="tns:ArrayOfShiftDto" />
  <xs:complexType name="ArrayOfWorkerObjectDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WorkerObjectDto" nillable="true" type="tns:WorkerObjectDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWorkerObjectDto" nillable="true" type="tns:ArrayOfWorkerObjectDto" />
</xs:schema>